.register-parent {
    flex: 1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form-box {
    background-color: rgb(161, 203, 249);
    width: 50%;
  
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.register-form-box input{
    padding: 5px;
}
.register-form-box select{
    padding: 10px;
}