.login-parent-div {
    flex: 1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: rgb(230, 230, 230);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}